/* -------------  cards page ------------- */

/* card */

.card {
  max-width: 984px;
  background-color: #2a2c2f;
  list-style-type: none;
  width: 100%;
  height: 100%;
  display: grid;
  column-gap: 40px;
  margin: 0;
  padding: 0;
}

.card_gales {
  max-height: 832px;
  grid-template-areas:
    "title ."
    "title artist"
    ". ."
    "image history"
    "image tour"
    ". ."
    "frame .";
}

.card_usa {
  max-height: 680px;
  grid-template-areas:
    "title ."
    "title artist"
    ". ."
    "image history"
    "image tour"
    ". ."
    "frame .";
}

.card_burundi {
  max-height: 830px;
  grid-template-areas:
    "title ."
    "title artist"
    ". ."
    "image history"
    "image tour"
    "image more"
    "frame more"
    ". more";
}

.card_brazil {
  max-height: 756px;
  grid-template-areas:
    "title ."
    "title artist"
    ". ."
    "image history"
    "image tour"
    ". tour"
    "frame tour"
    "frame .";
}

/* title */

.card__title {
  max-width: 460px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #ffffff;
  grid-area: title;
  margin-bottom: 48px;
}

/* artist */

.card__artist {
  max-width: 456px;
  max-height: 67px;
  grid-area: artist;
  margin-bottom: 48px;
}

/* url */

.card__url {
  max-width: 85.17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #aaaaaa;
  margin-bottom: 8px;
}

/* name */

.card__name {
  max-width: 329.66px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

/* image */

.card__image {
  max-width: 460px;
  max-height: 460px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-area: image;
  margin-bottom: 48px;
}

/* shadow */

.card__image:hover {
  background: #000000;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

/* history */

.card__history {
  max-width: 484px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
  grid-area: history;
  margin-bottom: 25px;
}

/* tour */

.card__tour {
  max-width: 484px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
  grid-area: tour;
}

.card__tour_burundi {
  margin-bottom: 25px;
}

/* more */

.card__more {
  max-width: 484px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
  grid-area: more;
}

/* Frame */

.card__frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13px 20px;
  gap: 10px;
  max-width: 356.08px;
  max-height: 48px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  grid-area: frame;
  text-decoration: none;
}

.card__frame:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}

/* frame-text */

.card__frame-link {
  max-width: 315px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  width: 100%;
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  transition: color 0.3s ease;
}

.card__frame-link:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
  border: none;
  outline: none;
  cursor: pointer;
}
