/* -------------  footer  ------------- */

/* copyright */

.footer__copyright {
  max-width: 166px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #ffffff;
  margin: 90px auto 25px;
  padding: 0;
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 1152px) {
  /* footer */

  .footer__copyright {
    margin: 91px auto 25px;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 1088px) {
  /* footer */
  .footer__copyright {
    margin: 90.5px auto 25px;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 1024px) {
  /* footer */

  .footer__copyright {
    margin: 90px auto 25px;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 896px) {
  /* footer */

  .footer__copyright {
    margin: 89px auto 25px;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 768px) {
  /* footer */

  .footer__copyright {
    margin: 88px auto 25px;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 656px) {
  /* footer */
  .footer__copyright {
    max-height: 90px;
    margin: 83px auto 25;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 544px) {
  /* footer */
  .footer__copyright {
    max-height: 90px;
    margin: 78px auto 17.77;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 432px) {
  /* footer */

  .footer__copyright {
    max-height: 52px;
    margin: 71px auto 17.77;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 375px) {
  /* footer */

  .footer__copyright {
    max-height: 14px;
    margin: 67.5px auto 17.77px;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 320px) {
  /* footer */

  .footer__copyright {
    max-height: 14px;
    margin: 64px auto 17.77px;
  }
}
