/* -------------  header  ------------- */

.header {
  max-width: 1280px;
  max-height: 1883px;
  background-color: #2a2c2f;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* logo */

.header__logo {
  max-width: 254px;
  max-height: 70px;
  letter-spacing: 0.7px;
  margin: 34px auto 0;
  padding: 0;
}

/* lead */

.header__lead {
  max-width: 984px;
  max-height: 983px;
  display: flex;
  flex-direction: column;
  margin: 90px auto 0;
  padding: 0;
}

/* title */

.header__lead-title {
  max-width: 720px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 2px;
  margin: 0 auto;
  padding: 0;
}

/* subtitle */

.header__lead-subtitle {
  max-width: 720px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.7px;
  margin: 32px auto 0;
  padding: 0;
}

/* image */

.header__image {
  max-width: 984px;
  height: 615px;
  width: 100%;
  object-fit: cover;
  margin: 64px auto 0;
  padding: 0;
}

/* intro */

.header__intro {
  max-width: 830px;
  max-height: 482px;
  margin: 92px auto 0 148px;
  padding: 0;
}

/* intro-title */

.header__intro-title {
  max-width: 830px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #ffffff;
  letter-spacing: 4.77px;
  margin: 0;
  padding: 0;
}

/* intro-phrase */

.header__intro-phrase {
  max-width: 738px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
  letter-spacing: 2.15px;
  margin: 40px auto 0 0;
  padding: 0;
}

/* intro-author */

.header__intro-author {
  max-width: 732px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  color: #ffffff;
  letter-spacing: 0.7px;
  margin: 10px auto 0 0;
  padding: 0;
}

/* intro-information */

.header__intro-information {
  max-width: 722px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #ffffff;
  text-align: justify;
  margin: 32px auto 0 0;
  padding: 0;
}

/* header-footer */

.header__footer-copyright {
  max-width: 166px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #ffffff;
  margin: 92px auto 24px;
  padding: 0;
}

/* -------------  media  ------------- */

/* -------------  1024-1280  ------------- */

/* 1280 */

@media screen and (max-width: 1152px) {
  .header {
    max-width: 1152px;
    max-height: 1827px;
  }

  /* logo */

  .header__logo {
    max-height: 69px;
    letter-spacing: 0.5px;
    margin: 33px auto 0;
  }

  /* lead */

  .header__lead {
    max-width: 918px;
    max-height: 801px;
    margin: 95.62px auto 0;
  }

  /* title */

  .header__lead-title {
    max-width: 672.5px;
    font-size: 90.75px;
    line-height: 94.75px;
  }

  /* subtitle */

  .header__lead-subtitle {
    margin: 30.5px auto 0;
  }

  .header__image {
    max-width: 930px;
    height: 509.25px;
    margin: 183px auto 0;
  }

  /* intro */

  .header__intro {
    max-width: 802.5px;
    max-height: 484px;
    margin: 45px auto 0 103.5px;
  }

  /* intro-title */

  .header__intro-title {
    max-width: 799.25px;
    font-size: 51.75px;
    line-height: 55.75px;
    letter-spacing: 4.32px;
  }

  /* intro-phrase */

  .header__intro-phrase {
    max-width: 733.25px;
    letter-spacing: 1.68px;
    margin: 42.5px auto 0 0;
  }

  /* intro-author */

  .header__intro-author {
    max-width: 729px;
    letter-spacing: 0.6px;
    margin: 7.5px auto 0 0;
  }

  /* intro-information */

  .header__intro-information {
    max-width: 721.5px;
    margin: 32px auto 0 0;
  }

  /* header-footer */

  .header__footer-copyright {
    margin: 91px auto 24px;
  }
}

/* -------------  768-1280  ------------- */

@media screen and (max-width: 1024px) {
  .header {
    max-width: 1024px;
    max-height: 1771px;
  }

  /* logo */

  .header__logo {
    max-height: 68px;
    letter-spacing: 0.4px;
    margin: 32px auto 0;
  }

  /* lead */

  .header__lead {
    max-width: 852px;
    max-height: 619px;
    margin: 90px auto 0;
  }

  /* title */

  .header__lead-title {
    max-width: 625px;
    font-size: 85.5px;
    line-height: 89.5px;
    margin: 0 auto;
  }

  /* subtitle */

  .header__lead-subtitle {
    margin: 28.5px auto 0;
  }

  /* image */

  .header__image {
    max-width: 876px;
    height: 403.5px;
    margin: 119px auto 0;
  }

  /* intro */

  .header__intro {
    max-width: 775px;
    max-height: 486px;
    margin: 163px auto 0 66.5px;
  }

  /* intro-title */

  .header__intro-title {
    max-width: 768.5px;
    font-size: 49.5px;
    line-height: 53.5px;
    letter-spacing: 3.88px;
    margin: 0;
  }

  /* intro-phrase */

  .header__intro-phrase {
    max-width: 729px;
    letter-spacing: 1.22px;
    margin: 45px auto 0 0;
  }

  /* intro-author */

  .header__intro-author {
    max-width: 726px;
    letter-spacing: 0.5px;
    margin: 5px auto 0 0;
  }

  /* intro-information */

  .header__intro-information {
    max-width: 721px;
    margin: 32px auto 0 0;
  }

  /* header-footer */

  .header__footer-copyright {
    margin: 90px auto 24px;
  }
}

/* -------------  768  ------------- */

@media screen and (max-width: 768px) {
  .header {
    max-width: 768px;
    max-height: 1659px;
  }

  /* logo */

  .header__logo {
    max-height: 66px;
    margin: 30px auto 0;
  }

  /* lead */

  .header__lead {
    max-width: 720px;
    max-height: 255px;
    margin: 90px 24px 0;
  }

  /* title */

  .header__lead-title {
    max-width: 530px;
    font-size: 75px;
    line-height: 79px;
    margin: 0 auto;
  }

  /* subtitle */

  .header__lead-subtitle {
    letter-spacing: 0.5px;
    margin: 25px 0 0;
  }

  /* image */

  .header__image {
    max-width: 768px;
    height: 192px;
    margin: 174px 0 0;
  }

  /* intro */

  .header__intro {
    max-width: 720px;
    max-height: 490px;
    margin: 234px 24px 0;
  }

  /* intro-title */

  .header__intro-title {
    max-width: 707px;
    font-size: 45px;
    line-height: 49px;
    letter-spacing: 3px;
    margin: 0 13px 0 0;
  }

  /* intro-phrase */

  .header__intro-phrase {
    max-width: 720px;
    letter-spacing: 3px;
    margin: 50px 0 0;
  }

  /* intro-author */

  .header__intro-author {
    max-width: 720px;
    letter-spacing: 0.3;
    margin: 0;
  }

  /* intro-information */

  .header__intro-information {
    max-width: 720px;
    margin: 32px 0 0;
  }

  /* header-footer */

  .header__footer-copyright {
    margin: 88px auto 24px;
  }
}

/* -------------  320-768  ------------- */

@media screen and (max-width: 544px) {
  .header {
    max-width: 544px;
    max-height: 1604.5px;
  }

  /* logo */

  .header__logo {
    max-width: 127px;
    max-height: 52px;
    margin: 25px auto 0;
  }

  /* lead */

  .header__lead {
    max-width: 504px;
    max-height: 199.5px;
    margin: 70px auto 0;
  }

  /* title */

  .header__lead-title {
    max-width: 379px;
    font-size: 57.5px;
    line-height: 61.5px;
    margin: 0 auto;
  }

  /* subtitle */

  .header__lead-subtitle {
    max-width: 504px;
    font-size: 23px;
    line-height: 28px;
    letter-spacing: 0.4px;
    margin: 24px auto 0;
  }

  /* image */

  .header__image {
    max-width: 544px;
    height: 196px;
    margin: 107px 0 0;
  }

  /* intro */

  .header__intro {
    max-width: 544px;
    max-height: 680px;
    margin: 149px 12px 0;
  }

  /* intro-title */

  .header__intro-title {
    max-width: 497.5px;
    font-size: 38.5px;
    line-height: 42px;
    letter-spacing: 1.5px;
    margin: 0 6.5px 0 0;
  }

  /* intro-phrase */

  .header__intro-phrase {
    max-width: 504px;
    line-height: 32px;
    letter-spacing: 1.55px;
    margin: 45px 0 0;
  }

  /* intro-author */

  .header__intro-author {
    max-width: 504px;
    letter-spacing: 0.15;
    margin: 5px 0 0;
  }

  /* intro-information */

  .header__intro-information {
    max-width: 504px;
    margin: 32px 0 0;
  }

  .header__footer-copyright {
    max-height: 90px;
    margin-top: 78px;
  }
}

/* -------------  320-544  ------------- */

@media screen and (max-width: 432px) {
  .header {
    max-width: 432px;
    max-height: 1577.25px;
  }

  /* logo */

  .header__logo {
    max-width: 157.5px;
    margin: 22.5px auto 0;
  }

  /* lead */

  .header__lead {
    max-width: 396px;
    max-height: 343.5px;
    margin: 60px auto 0;
  }

  /* title */

  .header__lead-title {
    max-width: 303.5px;
    font-size: 48.75px;
    line-height: 52.75px;
    margin: 0 auto;
  }

  /* subtitle */

  .header__lead-subtitle {
    max-width: 396px;
    font-size: 19.5px;
    line-height: 24px;
    letter-spacing: 0.35px;
    margin: 20px auto 0;
  }

  /* image */

  .header__image {
    max-width: 432px;
    height: 198px;
    margin: 73.5px 0 0;
  }

  /* intro */

  .header__intro {
    max-width: 416px;
    max-height: 779px;
    margin: 106.5px auto 0;
  }

  /* intro-title */

  .header__intro-title {
    max-width: 392.75px;
    font-size: 35.25px;
    line-height: 38.5px;
    letter-spacing: 0.75px;
    margin: 0 3.25px 0 0;
  }

  /* intro-phrase */

  .header__intro-phrase {
    max-width: 396px;
    line-height: 31px;
    letter-spacing: 0.77px;
    margin: 42.5px 0 0;
  }

  /* intro-author */

  .header__intro-author {
    max-width: 376px;
    letter-spacing: 0.07;
    margin: 7.5px 0 0;
  }

  /* intro-information */

  .header__intro-information {
    max-width: 396px;
    margin: 32px 0 0;
  }

  /* header-footer */

  .header__footer-copyright {
    max-height: 52px;
    margin-top: 71px;
  }
}

/* -------------  320  ------------- */

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
    max-height: 1550px;
  }

  /* logo */

  .header__logo {
    max-width: 188px;
    max-height: 52px;
    margin: 20px auto 0;
  }

  /* lead */

  .header__lead {
    max-width: 288px;
    max-height: 144px;
    margin: 50px auto 0;
  }

  /* title */

  .header__lead-title {
    max-width: 228px;
    font-size: 40px;
    line-height: 44px;
    margin: 0 auto;
  }

  /* subtitle */

  .header__lead-subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 16px auto 0;
  }

  /* image */

  .header__image {
    max-width: 320px;
    height: 200px;
    margin: 40px 0 0;
  }

  /* intro */

  .header__intro {
    max-width: 288px;
    max-height: 878px;
    margin: 64px auto 0;
  }

  /* intro-title */

  .header__intro-title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0;
    margin: 0;
  }

  /* intro-phrase */

  .header__intro-phrase {
    max-width: 288px;
    line-height: 30px;
    letter-spacing: 0.1px;
    margin: 40px 0 0;
  }

  /* intro-author */

  .header__intro-author {
    max-width: 288px;
    margin: 10px 0 0;
  }

  /* intro-information */

  .header__intro-information {
    max-width: 288px;
    margin: 32px 0 0;
  }

  /* header-footer */

  .header__footer-copyright {
    max-height: 14px;
    margin-top: 64px;
  }
}
