/* -------------  header  ------------- */

/* header */

.header {
  max-width: 1280px;
  width: 100%;
  background-color: #2a2c2f;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* logo */

.header__logo {
  max-width: 254px;
  max-height: 70px;
  margin: 34px auto 0;
  padding: 0;
}

/* lead */

.header__lead {
  max-width: 984px;
  max-height: 983px;
  display: flex;
  flex-direction: column;
  margin: 90px auto 0;
  padding: 0;
}

/* title */

.header__lead-title {
  max-width: 720px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  padding: 0;
}

/* subtitle */

.header__lead-subtitle {
  max-width: 720px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin: 32px auto 0;
  padding: 0;
}

/* image */

.header__image {
  max-width: 984px;
  max-height: 615px;
  width: 100%;
  object-fit: cover;
  margin: 64px auto 0;
  padding: 0;
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 1152px) {
  /* header */
  .header {
    max-width: 1152px;
  }

  /* logo */

  .header__logo {
    max-height: 207px;
    margin: 33px auto 0;
  }

  /* lead */

  .header__lead {
    max-width: 930px;
    height: auto;
  }

  /* title */

  .header__lead-title {
    max-width: 672.5px;
    font-size: 90.75px;
    line-height: 94.75px;
  }

  /* subtitle */

  .header__lead-subtitle {
    margin: 30.25px auto 0;
  }

  .header__image {
    max-width: 930px;
    max-height: 581.25px;
    margin: 68px auto 0;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 1088px) {
  /* header */
  .header {
    max-width: 1088px;
    height: auto;
  }

  /* logo */

  .header__logo {
    max-height: 183.5px;
    margin: 32.5px auto 0;
  }

  /* lead */

  .header__lead {
    max-width: 903px;
    height: auto;
  }

  /* title */

  .header__lead-title {
    max-width: 648.75px;
    font-size: 88.12px;
    line-height: 92.12px;
  }

  /* subtitle */

  .header__lead-subtitle {
    margin: 29.37px auto 0;
  }

  /* image */

  .header__image {
    max-width: 903px;
    max-height: 564.37px;
    margin: 70px auto 0;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 1024px) {
  /* header */
  .header {
    max-width: 1024px;
    height: auto;
  }

  /* logo */

  .header__logo {
    max-height: 160px;
    margin: 32px auto 0;
  }

  /* lead */

  .header__lead {
    max-width: 876px;
    height: auto;
  }

  /* title */

  .header__lead-title {
    max-width: 625px;
    font-size: 85.5px;
    line-height: 89.5px;
  }

  /* subtitle */

  .header__lead-subtitle {
    margin: 28.5px auto 0;
  }

  /* image */

  .header__image {
    max-width: 876px;
    max-height: 547.5px;
    margin: 72px auto 0;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 896px) {
  /* header */
  .header {
    max-width: 896px;
    height: auto;
  }

  /* logo */

  .header__logo {
    max-height: 113px;
    margin: 31px auto 0;
  }

  /* lead */

  .header__lead {
    max-width: 822px;
    height: auto;
  }

  /* title */

  .header__lead-title {
    max-width: 577.5px;
    font-size: 80.25px;
    line-height: 84.25px;
  }

  /* subtitle */

  .header__lead-subtitle {
    margin: 26.75px 0 0;
  }

  /* image */

  .header__image {
    max-width: 822px;
    max-height: 513.75px;
    margin: 51px auto 0;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 768px) {
  /* header */
  .header {
    max-width: 768px;
    height: auto;
  }

  /* logo */

  .header__logo {
    max-height: 66px;
    margin: 30px auto 0;
  }

  /* lead */

  .header__lead {
    max-width: 768px;
    height: auto;
  }

  /* title */

  .header__lead-title {
    max-width: 530px;
    font-size: 75px;
    line-height: 79px;
  }

  /* subtitle */

  .header__lead-subtitle {
    margin: 25px 0 0;
  }

  /* image */

  .header__image {
    max-width: 768px;
    max-height: 480px;
    margin: 30px 0 0;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 656px) {
  /* header */
  .header {
    max-width: 656px;
    height: auto;
  }

  /* logo */

  .header__logo {
    max-width: 190.5px;
    max-height: 59px;
    margin: 27.5px auto 0;
  }

  /* lead */

  .header__lead {
    max-width: 656px;
    max-height: auto;
    margin: 70px auto 0;
  }

  /* title */

  .header__lead-title {
    max-width: 454.5px;
    font-size: 65px;
    line-height: 70.25px;
    margin: 0 auto;
  }

  /* subtitle */

  .header__lead-subtitle {
    max-width: 612px;
    font-size: 26.5px;
    line-height: 32px;
    margin: 33px auto 0;
  }

  /* image */

  .header__image {
    max-width: 656px;
    height: 410px;
    margin: 32.5px 0 0;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 544px) {
  /* header */
  .header {
    max-width: 544px;
    height: auto;
  }

  /* logo */

  .header__logo {
    max-width: 127px;
    max-height: 52px;
    margin: 25px auto 0;
  }

  /* lead */

  .header__lead {
    max-width: 544px;
    max-height: auto;
    margin: 70px auto 0;
  }

  /* title */

  .header__lead-title {
    max-width: 379px;
    font-size: 57.5px;
    line-height: 61.5px;
    margin: 0 auto;
  }

  /* subtitle */

  .header__lead-subtitle {
    max-width: 504px;
    font-size: 23px;
    line-height: 28px;
    margin: 24px auto 0;
  }

  /* image */

  .header__image {
    max-width: 544px;
    height: 340px;
    margin: 35px 0 0;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 432px) {
  /* header */
  .header {
    max-width: 432px;
    height: auto;
  }

  /* logo */

  .header__logo {
    max-width: 157.5px;
    margin: 22.5px auto 0;
  }

  /* lead */

  .header__lead {
    max-width: 396px;
    max-height: 343.5px;
    margin: 60px auto 0;
  }

  /* title */

  .header__lead-title {
    max-width: 303.5px;
    font-size: 48.75px;
    line-height: 52.75px;
    margin: 0 auto;
  }

  /* subtitle */

  .header__lead-subtitle {
    max-width: 396px;
    font-size: 19.5px;
    line-height: 24px;
    margin: 20px auto 0;
  }

  /* image */

  .header__image {
    max-width: 432px;
    height: 198px;
    margin: 73.5px 0 0;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 375px) {
  /* header */
  .header {
    max-width: 375px;
    height: auto;
  }

  /* logo */

  .header__logo {
    max-width: 172.75px;
    max-height: 52px;
    margin: 21.25px auto 0;
  }

  /* lead */

  .header__lead {
    max-width: 375px;
    max-height: auto;
    margin: 55px auto 0;
  }

  /* title */

  .header__lead-title {
    max-width: 267.18px;
    font-size: 44.37px;
    line-height: 48.37px;
  }

  /* subtitle */

  .header__lead-subtitle {
    max-width: 337.5px;
    font-size: 17.75px;
    line-height: 22px;
    margin: 18px auto 0;
  }

  /* image */

  .header__image {
    max-width: 375px;
    max-height: 234px;
    width: 100%;
    object-fit: cover;
    margin: 56.75px 0 0;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 320px) {
  /* header */
  .header {
    max-width: 320px;
    /* max-height: 1550px; */
    height: auto;
  }

  /* logo */

  .header__logo {
    max-width: 188px;
    max-height: 52px;
    margin: 20px auto 0;
  }

  /* lead */

  .header__lead {
    max-width: 320px;
    max-height: auto;
    margin: 50px auto 0;
  }

  /* title */

  .header__lead-title {
    max-width: 228px;
    font-size: 40px;
    line-height: 44px;
  }

  /* subtitle */

  .header__lead-subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    margin: 16px auto 0;
  }

  /* image */

  .header__image {
    max-width: 320px;
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    margin: 40px 0 0;
  }
}
