/* -------------  introdution page  ------------- */

/* intro */

.intro {
  max-width: 830px;
  max-height: 482px;
  background-color: #2a2c2f;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 92px auto 0 148px;
  padding: 0;
}

/* intro-title */

.intro__title {
  max-width: 830px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

/* intro-phrase */

.intro__phrase {
  max-width: 738px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
  margin: 40px auto 0 0;
  padding: 0;
}

/* intro-author */

.intro__author {
  max-width: 732px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  color: #ffffff;
  margin: 10px auto 0 0;
  padding: 0;
}

/* intro-information */

.intro__information {
  max-width: 722px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #ffffff;
  text-align: justify;
  margin: 32px auto 0 0;
  padding: 0;
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 1152px) {
  /* intro */

  .intro {
    max-width: 802.5px;
    max-height: 484px;
    margin: 45px auto 0 103.5px;
  }

  /* intro-title */

  .intro__title {
    max-width: 799.25px;
    font-size: 51.75px;
    line-height: 55.75px;
  }

  /* intro-phrase */

  .intro__phrase {
    max-width: 733.25px;
    margin: 42.5px auto 0 0;
  }

  /* intro-author */

  .intro__author {
    max-width: 729px;
    margin: 7.5px auto 0 0;
  }

  /* intro-information */

  .intro__information {
    max-width: 721.5px;
    margin: 32px auto 0 0;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 1024px) {
  /* intro */

  .intro {
    max-width: 775px;
    max-height: 486px;
    margin: 163px auto 0 66.5px;
  }

  /* intro-title */

  .intro__title {
    max-width: 768.5px;
    font-size: 49.5px;
    line-height: 53.5px;
    margin: 0;
  }

  /* intro-phrase */

  .intro__phrase {
    max-width: 729px;
    margin: 45px auto 0 0;
  }

  /* intro-author */

  .intro__author {
    max-width: 726px;
    margin: 5px auto 0 0;
  }

  /* intro-information */

  .intro__information {
    max-width: 721px;
    margin: 16px auto 0 0;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 768px) {
  /* intro */

  .intro {
    max-width: 544px;
    max-height: 680px;
    margin: 149px 12px 0;
  }

  /* intro-title */

  .intro__title {
    max-width: 497.5px;
    font-size: 38.5px;
    line-height: 42px;
    margin: 0 6.5px 0 0;
  }

  /* intro-phrase */

  .intro__phrase {
    max-width: 504px;
    line-height: 32px;
    margin: 45px 0 0;
  }

  /* intro-author */

  .intro__author {
    max-width: 504px;
    margin: 5px 0 0;
  }

  /* intro-information */

  .intro__information {
    max-width: 504px;
    margin: 32px 0 0;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 544px) {
  /* intro */

  .intro {
    max-width: 544px;
    max-height: 680px;
    margin: 149px 12px 0;
  }

  /* intro-title */

  .intro__title {
    max-width: 497.5px;
    font-size: 38.5px;
    line-height: 42px;
    margin: 0 6.5px 0 0;
  }

  /* intro-phrase */

  .intro__phrase {
    max-width: 504px;
    line-height: 32px;
    margin: 45px 0 0;
  }

  /* intro-author */

  .intro__author {
    max-width: 504px;
    margin: 5px 0 0;
  }

  /* intro-information */

  .intro__information {
    max-width: 504px;
    margin: 32px 0 0;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 432px) {
  /* intro */

  .intro {
    max-width: 416px;
    max-height: 779px;
    margin: 106.5px auto 0;
  }

  /* intro-title */

  .intro__title {
    max-width: 392.75px;
    font-size: 35.25px;
    line-height: 38.5px;
    margin: 0 3.25px 0 0;
  }

  /* intro-phrase */

  .intro__phrase {
    max-width: 396px;
    line-height: 31px;
    margin: 42.5px 0 0;
  }

  /* intro-author */

  .intro__author {
    max-width: 376px;
    margin: 7.5px 0 0;
  }

  /* intro-information */

  .intro__information {
    max-width: 396px;
    margin: 32px 0 0;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 320px) {
  /* intro */

  .intro {
    max-width: 288px;
    max-height: 878px;
    margin: 64px auto 0;
  }

  /* intro-title */

  .intro__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: 0;
  }

  /* intro-phrase */

  .intro__phrase {
    max-width: 288px;
    line-height: 30px;
    margin: 40px 0 0;
  }

  /* intro-author */

  .intro__author {
    max-width: 288px;
    margin: 10px 0 0;
  }

  /* intro-information */

  .intro__information {
    max-width: 288px;
    margin: 32px 0 0;
  }
}
