/* -------------  introdution page  ------------- */

/* intro */

.intro {
  max-width: 830px;
  max-height: 482px;
  background-color: #2a2c2f;
  display: flex;
  flex-direction: column;
  display: flow;
  box-sizing: border-box;
  margin: 92px auto 0 148px;
  padding: 0;
}

/* intro-title */

.intro__title {
  max-width: 830px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

/* intro-phrase */

.intro__phrase {
  max-width: 738px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
  margin: 40px auto 0 0;
  padding: 0;
}

/* intro-author */

.intro__author {
  max-width: 732px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  color: #ffffff;
  margin: 10px auto 0 0;
  padding: 0;
}

/* intro-information */

.intro__information {
  max-width: 722px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #ffffff;
  text-align: justify;
  margin: 32px auto 0 0;
  padding: 0;
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 1152px) {
  /* intro */

  .intro {
    max-width: 802.5px;
    max-height: 484px;
    margin: 91.5px auto 0 107.25px;
  }

  /* intro-title */

  .intro__title {
    max-width: 799.25px;
    font-size: 51.75px;
    line-height: 55.75px;
  }

  /* intro-phrase */

  .intro__phrase {
    max-width: 733.5px;
    margin: 42.5px auto 0 0;
  }

  /* intro-author */

  .intro__author {
    max-width: 729px;
    margin: 7.5px auto 0 0;
  }

  /* intro-information */

  .intro__information {
    max-width: 721.5px;
    margin: 10px auto 0 0;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 1088px) {
  /* intro */

  .intro {
    max-width: 788.75px;
    max-height: 485px;
    margin: 91.25px auto 0 86.87px;
  }

  /* intro-title */

  .intro__title {
    max-width: 783.87px;
    font-size: 50.62px;
    line-height: 54.62px;
  }

  /* intro-phrase */

  .intro__phrase {
    max-width: 731.25px;
    margin: 43.75px auto 0 0;
  }

  /* intro-author */

  .intro__author {
    max-width: 727.5px;
    margin: 6.25px auto 0 0;
  }

  /* intro-information */

  .intro__information {
    max-width: 721.25px;
    margin: 16px auto 0 0;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 1024px) {
  /* intro */

  .intro {
    max-width: 775px;
    max-height: 486px;
    margin: 91px auto 0 66.5px;
  }

  /* intro-title */

  .intro__title {
    max-width: 768.5px;
    font-size: 49.5px;
    line-height: 53.5px;
  }

  /* intro-phrase */

  .intro__phrase {
    max-width: 729px;
    margin: 45px auto 0 0;
  }

  /* intro-author */

  .intro__author {
    max-width: 726px;
    margin: 5px auto 0 0;
  }

  /* intro-information */

  .intro__information {
    max-width: 721px;
    margin: 16px auto 0 0;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 896px) {
  .intro {
    max-width: 747.5px;
    max-height: 488px;
    margin: 90.5px auto 0 29.5px;
  }

  /* intro-title */

  .intro__title {
    max-width: 737.75px;
    font-size: 47.25px;
    line-height: 51.25px;
  }

  /* intro-phrase */

  .intro__phrase {
    max-width: 724.5px;
  }

  /* intro-author */

  .intro__author {
    max-width: 723px;
    margin: 2.5px auto 0 0;
  }

  /* intro-information */

  .intro__information {
    max-width: 720.5px;
    margin: 8px auto 0 0;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 768px) {
  /* intro */

  .intro {
    max-width: 720px;
    max-height: 490px;
    margin: 90px auto 0;
  }

  /* intro-title */

  .intro__title {
    max-width: 707px;
    font-size: 45px;
    line-height: 49px;
  }

  /* intro-phrase */

  .intro__phrase {
    max-width: 720px;
  }

  /* intro-author */

  .intro__author {
    max-width: 720px;
    text-align: right;
  }

  /* intro-information */

  .intro__information {
    max-width: 720px;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 656px) {
  /* intro */

  .intro {
    max-width: 612px;
    max-height: 587px;
    margin: 83.5px auto 0;
  }

  /* intro-title */

  .intro__title {
    max-width: 602.25px;
    font-size: 41.75px;
    line-height: 45.5px;
  }

  /* intro-phrase */

  .intro__phrase {
    max-width: 612px;
  }

  /* intro-author */

  .intro__author {
    max-width: 612px;
    margin: 2.5px 0 0;
  }

  /* intro-information */

  .intro__information {
    max-width: 612px;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 544px) {
  /* intro */

  .intro {
    max-width: 504px;
    max-height: 684px;
    margin: 77px auto 0;
  }

  /* intro-title */

  .intro__title {
    max-width: 497.5px;
    font-size: 38.5px;
    line-height: 42px;
  }

  /* intro-phrase */

  .intro__phrase {
    max-width: 504px;
    line-height: 32px;
    margin: 45px 0 0;
  }

  /* intro-author */

  .intro__author {
    max-width: 504px;
    margin: 5px 0 0;
  }

  /* intro-information */

  .intro__information {
    max-width: 504px;
    margin: 32px 0 0;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 432px) {
  /* intro */

  .intro {
    max-width: 396px;
    max-height: 781px;
    margin: 70.5px auto 0;
  }

  /* intro-title */

  .intro__title {
    max-width: 392.75px;
    font-size: 35.25px;
    line-height: 38.5px;
    margin: 0 3.25px 0 0;
  }

  /* intro-phrase */

  .intro__phrase {
    max-width: 396px;
    line-height: 31px;
    margin: 42.5px 0 0;
  }

  /* intro-author */

  .intro__author {
    max-width: 376px;
    margin: 7.5px 0 0;
  }

  /* intro-information */

  .intro__information {
    max-width: 396px;
    margin: 32px 0 0;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 375px) {
  /* intro */

  .intro {
    max-width: 337.5px;
    max-height: 1028.9px;
    margin: 67.25px auto 0;
  }

  /* intro-title */

  .intro__title {
    max-width: 337.5px;
    font-size: 33.62px;
    line-height: 36.75px;
    margin: 0;
  }

  /* intro-phrase */

  .intro__phrase {
    max-width: 337.5px;
    line-height: 30.5px;
    margin: 41.25px auto 0;
  }

  /* intro-author */

  .intro__author {
    max-width: 337.5px;
    margin: 8.75px 0 0;
  }

  /* intro-information */

  .intro__information {
    max-width: 337.5px;
    margin: 32px 0 0;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 320px) {
  /* intro */

  .intro {
    max-width: 288px;
    max-height: 878px;
    margin: 64px auto 0;
  }

  /* intro-title */

  .intro__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: 0;
  }

  /* intro-phrase */

  .intro__phrase {
    max-width: 288px;
    line-height: 30px;
    margin: 40px 0 0;
  }

  /* intro-author */

  .intro__author {
    max-width: 288px;
    margin: 10px 0 0;
  }

  /* intro-information */

  .intro__information {
    max-width: 288px;
    margin: 32px 0 0;
  }
}
